*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

nav {
    background-color: rgb(172, 143, 199);
    height: 80px;
}

nav .logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;  
}